@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*
{
    font-family: Koulen;
    margin: 0;
    padding: 0;
}

h1, h2, h3
{
    color: rgba(0, 0, 0, 0.5);
    background-image: url("/images/page\ texture.jpg");
    background-clip: text;
    filter: contrast(2) saturate(0);
}

:root
{
    --margin: 10%
}

body
{
    background-image: url("/images/page\ texture.jpg");
    background-repeat: no-repeat repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
}

#containerDiv
{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(#EEDEC5, #EEDEC5, white);
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 var(--margin);
    padding: 20px 0;

    img
    {
        height: auto;
        width: 20vw;
    }

    h1
    {
        font-size: 7vw;
    }
}

#title
{
    display: flex;
    margin: 0 calc(var(--margin) * 2.5);
    margin-bottom: 2%;

    h2
    {
        font-size: 4vw;
    }

    .titleName
    {
        width: 100%;
    }

    .titleScore
    {
        width: 100%;
        text-align: center;
    }
}

#namesAndScoresContainer
{
    margin: 0 calc(var(--margin) * 2.5);

    .nameAndScore
    {
        display: flex;

        h3
        {
            font-size: 3vw;
        }

        .name
        {
            width: 100%;
            text-align: left;
        }

        .score
        {
            width: 100%;
            text-align: center;
        }
    }
}

@media (max-aspect-ratio: 285/210)
{
    :root
    {
        --margin: 5%
    }

    header
    {
        img
        {
            width: 30vw;
        }

        h1
        {
            font-size: 9vw;
        }
    }

    #title
    {
        h2
        {
            font-size: 7vw;
        }
    }

    #namesAndScoresContainer
    {
        .nameAndScore
        {
            h3
            {
                font-size:5vw;
            }
        }
    }
}